.hero {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px;
  align-items: center;
}
.hero-img {
  max-width: 290px;
  width: 100%;
}
.hero-img img {
  width: 100%;
}
.hero-content {
  text-align: center;
}
.hero-content h2 {
  margin-bottom: 1rem;
}
