@import "./variable.css";
@import "./base.css";

/* Sekcje */
@import "./sections/nav.css";
@import "./sections/hero.css";
@import "./sections/products.css";
@import "./sections/effects.css";
@import "./sections/ingredients.css";
@import "./sections/grid.css";
@import "./sections/modal.css";

@font-face {
  font-family: "Futura-PT";
  src: url("../fonts/futura-pt/FuturaPT-Book.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Futura-PT";
  src: url("../fonts/futura-pt/FuturaPT-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura-PT";
  src: url("../fonts/futura-pt/FuturaPT-Bold.woff2");
  font-weight: 600;
  font-style: normal;
}
* {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text-primary);
  background: var(--bg-primary);
  font-size: 13px;
  font-family: "Futura-PT", sans-serif;
  font-weight: 400;
}
h1,
h2,
h3 {
  color: var(--text-primary);
  font-weight: 500;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 20px;
}
strong {
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 31px;
  }
  h3 {
    font-size: 24px;
  }
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1280px) {
  h1 {
    font-size: 120px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 31px;
  }
  body {
    font-size: 16px;
  }
}
