:root {
  --text-primary: #181818;
  --text-secondary: #282828;
  --bg-primary: #f1f1f1;
  --bg-secondary: hsl(0, 0%, 100%);
  --primary: hsl(160, 100%, 37%);
  --secondary: hsla(160, 100%, 37%, 0.5);
}
