.section-grid {
  padding: 125px 30px 70px 30px !important;
}
.grid-select {
  border: 1px solid var(--primary);
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
}
.grid-select-input {
  font-size: 20px;
  font-weight: 600;
  background-color: var(--primary);
  color: var(--bg-primary);
  cursor: pointer;
  transition: 0.2s ease-in background-color;
}
.grid-select-input:hover {
  background-color: #973733;
}
.grid-select-title {
  width: 100%;
}
.grid-select-title,
.grid-select-input {
  padding: 10px;
}
.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(105px, 0fr));
  gap: 50px;
  justify-content: center;
}
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 105px;
  background-color: #bebebe;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in scale;
  scale: 1;
}
.grid-item:hover {
  scale: 0.95;
  box-shadow: #555 0px 0px 6px;
}
.grid-select-options {
  position: absolute;
  z-index: 1;
  left: -1px;
  /* width: 260px; */
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary);
  width: calc(100% + 2px);
}
.grid-select-options.hidden {
  display: none;
}
.grid-select-options button {
  background-color: var(--bg-primary);
  border: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-primary);
}
.grid-select-options button:hover {
  background-color: var(--bg-secondary);
}
.grid-select:not(:has(.grid-select-options.hidden)) .grid-select-input img {
  rotate: 180deg;
}
@media only screen and (min-width: 768px) {
  .section-grid {
    padding-top: 120px !important;
    z-index: 1;
    position: relative;
  }
  .grid-select {
    width: 368px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 120px;
  }
  .grid-select-input,
  .grid-select-title {
    padding: 9px;
  }
  .grid-select-input {
    padding: 9px 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .grid-select-title h2 {
    font-size: 20px;
    width: max-content;
  }
  .grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(371px, 0fr));
    gap: 34px 50px;
    justify-content: center;
  }
  .grid-item {
    font-size: 31px;
    width: 371px;
    height: 350px;
  }
  .grid-select-options {
    /* width: 244px; */
    margin-top: 45px;
  }
}
